.uname{
	width:200px;
	height:35px;
	margin-left:20px;
}

.upassword{
	width:200px;
	height:35px;
	margin-top:10px;
	margin-left:20px;
}

.sub{
	width:120px;
	height:35px;
	margin-top:10px;
	font-size:20px;
    margin-left:115px;
}

.student{
	margin-left:115px;
	margin-top:20px;
}

.loginSucessful{
	margin-left:140px;
	width:100px;
	height:40px;
	text-align:center;
	background-color:rgb(17,17,17);
	line-height:40px;
	color:rgb(255,255,255);
	border:1px solid #DCDCDC;
}