body {
	margin-top: 0px;
	width: 100%;
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.top {
	width: 67.5%;
	height: 180px;
	margin-left: 15%;
	margin-top: 0px;
	border-left: solid 1px #DCDCDC;
	border-right: solid 1px #DCDCDC;
}

.top img {
	width: 100%;
	height: 100%;
}

.daohang {
	margin-top: 0px;
	background: #00FFFF;
	width: 67.5%;
	margin-left: 15%;
	height: 50px;
	border-left: solid 1px #DCDCDC;
	border-right: solid 1px #DCDCDC;
}

.daohang_01_ul {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	font-weight: bold;
}

.daohang_01_ul a:link {
	text-decoration: none;
	color: #000000;
}

.daohang_01_ul a:visited {
	text-decoration: none;
	color: #000000;
}

.daohang_01_ul li {
	font-size: 20px;
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 90px;
	line-height: 60px;
}

#li_relative {
	font-size: 20px;
	display: inline-block;
	text-align: center;
	height: 100%;
	line-height: 60px;
}

#li_login {
	margin-left: 170px;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 70px;
	line-height: 60px;
}

#li_person {
	font-size: 20px;
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 100px;
	line-height: 60px;
}

#li_register {
	font-size: 20px;
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 60px;
	line-height: 60px;
}
/*	height:1800px;*/
.main {
	background: #FFFFFF;
	width: 67.5%;
	height: 2000px;
	margin-left: 15%;
	background: #FFFFFF;
	border: solid 1px #DCDCDC;
	position: relative;
}

.main_login {
	width: 67.5%;
	margin-left: 15%;
	margin-bottom: 120px;
	height: 400px;
	border: solid 1px #DCDCDC;
	background: #FFFFFF;
	position: relative;
}
/*	height:1800px;*/
.main_left {
	width: 23%;
	height: 100%;
	float: left;
	border-right: solid 1px #DCDCDC;
	background: #FFFFFF;
}

.main_right {
	font-size: 13px;
	font-size: 15px;
	width: 76%;
	float: left;
	background: #FFFFFF;
}

.notice {
	width: 300px;
	height: 100%;
	background: FFFFCC;
}

.title {
	width: 300px;
	height: 100%;
	padding-top: 0px;
	border-top: solid 1px #CC9933;
	border-left: solid 1px #CC9933;
	border-bottom: solid 1px #CC9933;
	background: FFFFCC;
}

.notice_title {
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	width: 100%;
	height: 40px;
	border-bottom: solid 1px #D19275;
}

.ul_title {
	font-size: 20px;
	text-align: center;
	padding-left: 0px;
	padding-top: 0px;
}

.ul_title li {
	width: 100%;
	height: 50px;
	display: inline-block;
	border-bottom: solid 1px #CC9933;
	line-height: 50px;
}

.bottom {
	width: 67.4%;
	height: 100px;
	background: #F5F5DC;
	border: solid 1px #DCDCDC;
	margin-top: 10px;
	margin-left: 15%;
}

.file_img {
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

.file_shuoming {
	
}

/*ÐÂ½çÃæ*/
.newBody {
	background: url(../img/bg-noise.png);
}

.newdaohang {
	margin-top: 10px;
	width: 67.5%;
	margin-left: 13%;
	height: 50px;
}

.new_danghang_ul {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	font-weight: bold;
}

.new_danghang_ul li {
	font-size: 20px;
	background: url(../img/backMenu.png);
	display: inline-block;
	text-align: center;
	height: 50px;
	width: 115px;
	line-height: 60px;
}

.new_danghang_ul a:link {
	text-decoration: none;
	color: #000000;
}

.new_danghang_ul a:visited {
	text-decoration: none;
	color: #000000;
}


.newMain {
	margin-left: 190px;
	width: 900px;
	height: 1000px;
	border: 5px solid #ffffff;
}

/*-----------------------------------------*/
.header {
	background-color: rgb(17, 17, 17);
	width: 960px;
	height: 200px;
	margin-left: 200px;
}

.logo {
	width: 100%;
	height: 149px;
}

.menu {
	width: 100%;
	height: 50px;
	border-top: 1px solid rgb(34, 34, 34);
}

.menu ul {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	margin-left:120px;
	font-weight: bold;
}
.menu a:link {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.menu a:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.menu_ul li {
	color: rgb(255, 255, 255);
	float:left;
	width: 118px;
	height: 100%;
	display: inline-block;
	border-right: 1px solid rgb(34, 34, 34);
	line-height: 50px;
	text-align: center;
}

.container {
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	width: 960px;
	height: 1260px;
	margin-left: 200px;
	margin-top: 50px;
}

.container_top {
	border-bottom: 1px solid rgb(204, 204, 204);
	height: 50px;
}

.container_k1 {
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	width: 960px;
	height: 1900px;
	margin-left: 200px;
	margin-top: 50px;
}


.container_k2 {
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	width: 960px;
	height: 500px;
	margin-left: 200px;
	margin-top: 50px;
}

.container_k3 {
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	width: 960px;
	height: 700px;
	margin-left: 200px;
	margin-top: 50px;
}

.logo_guida {
	margin-left: 140px;
	margin-top: 25px;
	float: left;
	width: 100px;
	height: 100px;
	float: left;
}

.title_top {
	float: right;
	margin-top: 10px;
	margin-right: 300px;
	width: 280px;
	height: 140px;
}

.title_top img{
	margin-top:20px;
}

.softwareIntroduce_01 {
	padding: 30px;
	width: 900px;
	height: 330px;
	border-bottom: 3px solid rgb(204, 204, 204);
}


.softwareIntroduce_02 {
	padding: 30px;
	width: 900px;
	height: 330px;
	border-bottom: 3px solid rgb(204, 204, 204);
}

.softwareIntroduce_img_01 img {
	width: 240px;
	height: 330px;
	float: left;
	margin-left: 15px;
	margin-right: 30px;"
}

.softwareIntroduce_img_02 img {
	width: 400px;
	height: 300px;
	float: right;
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 30px;"
}

.softwareIntroduce_img_03 img {
	width: 400px;
	height: 300px;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 30px;"
}

.softwareIntroduce_txt img {
	width: 400px;
	height: 300px;
	float: right;
}

.detail {
	float: right;
	width: 100px;
	text-align: center;
	height: 40px;
	margin-right: 500px;
	margin-top:20px;
	line-height: 40px;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(34, 34, 34);
	background-color: rgb(17, 17, 17);
	height: 40px;
}

.detail_2 {
	float: right;
	width: 100px;
	text-align: center;
	height: 40px;
	margin-right: 35px;

	line-height: 40px;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(34, 34, 34);
	background-color: rgb(17, 17, 17);
	height: 40px;
}

.detail a:link {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.detail a:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.detail_2 a:link {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.detail_2 a:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.login {
	width: 102px;
	height: 40px;
	float: right;
	color: rgb(255, 255, 255);
	border-left: 1px solid rgb(34, 34, 34);
	border-bottom: 1px solid rgb(34, 34, 34);
	border-left: 1px solid rgb(34, 34, 34);
}

.login_01 {
	width: 50px;
	height: 100%;
	float: left;
	line-height: 40px;
	text-align: center;
	border-right: 1px solid rgb(34, 34, 34);
}

.login_02 {
	width: 50px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
}

.login a:link {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.login a:visited {
	text-decoration: none;
	color: rgb(255, 255, 255);
}